<!DOCTYPE html>
<!-- Admin Home Page -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <div class="text logo-text">
                    <span class="name">Admin Home Page</span>
                </div>
            </div>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="@Url.Action("AddUser", "User")">
                            <span class="text nav-text">ADD USER</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="@Url.Action("Datacollection", "Datacollection")">
                            <span class="text nav-text">Data collection</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="@Url.Action("Revenue", "Revenue")">
                            <span class="text nav-text"> Sales Collection</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="@Url.Action("landfill", "landfill")">
                            <span class="text nav-text">Land Fill</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
